@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Custom properties: 
Will allow us to define our variables.*/
:root {
    --primary: rgb(0, 0, 0);
    --secondary: hsl(120, 50%, 100%);
    --alternative: #548c4e70;
    --awesome: rgb(126, 126, 5, .7);
}
/* To hide the scrollbar */
::-webkit-scrollbar {
    display: none;
}
/* header and footer 
To access the custom property, make use of the var() function.*/
header, footer {
    background: 
    var(--alternative) 
    linear-gradient(to right, var(--alternative), 
    var(--awesome));
    background-blend-mode: darken;
}
/* Display -> flex: Allow us to place items side-by-side. The default flex-direction is row.*/
:is(nav, ul, #landing, 
.slider, .team, .search-wrapper,
.products, .card-footer, .sorting-wrapper, .table-wrapper) {
    display: flex;
}
/* Display -> grid */
:is(body, .card) {
    display: grid;
}
/* body: 
text-align: center -> It will place all the contents in the center.*/
body {
    text-align: center;
    grid-template-rows: auto minmax(100%, 100vh) auto;
}
/* Selecting an element by the attribute */
img[alt="logo"] {
    width: 5rem;
}
/* To apply a space between elements */
nav {
    justify-content: space-between;
}
/* ul
gap: will allow us to apply a space between the items or elements.
align-items: Will allow us to align items on the y-axis if the flex-direction is set to row or default.*/
ul{
    gap: 1rem;
    margin-right: .5rem;
    align-items: center;
}
/* To remove all the default styling on the list, such as bullets, */
ul li {
    list-style: none;
}
/* In case you want to remove the text decoration, such as an underline, on the anchor tag */
a {
    text-decoration: none;
    color: var(--secondary);
}
/* All sections */
section {
    margin-block: 1rem;
}
/* section - landing 
Placing the contents in the middle */
#landing {
    height: 75vh;
    justify-content: center;
    align-items: center;
}
/* To change all the first characters to uppercase */
#landing h1 {
    font-size: 4rem;
    text-transform: capitalize;
}
#landing h1 span:first-child {
    /* display: flex; */
    /* flex-direction: column; */
    display: block;
}
/* Sliding show */
.slider {
    width: 80%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory; 
    margin-inline: auto;   
    animation: sliding 10s linear infinite;
}
.slider >* {
    width: 10rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}
/* The team */
.team {
    justify-content: space-evenly;
}
img[alt="Profile"] {
    width: 20rem;
    aspect-ratio: 1/1;
}
/* headings */
:is(h1, h2, h3, h4, h5, h6){
    margin-bottom: 1rem;
}
/* Our products */
.search-wrapper {
    justify-content: flex-end;
    margin-block: .5rem;
}
.products {
    justify-content: space-around;
    flex-wrap: wrap;
}
.card {
    width: 10rem;
    grid-template-rows: 10rem auto auto;
    background: 
    radial-gradient(var(--awesome), 
    var(--alternative));
}
.card img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}
.card-body {
    margin-block: .5rem;
}
.card-footer {
    justify-content: space-between;
}
.card-footer button{
    border-image: linear-gradient(to right, var(--alternative) var(--awesome) 30 fill);
    background-color: var(--awesome);
    padding-inline: .2rem;
}
/* Admin */
.sorting-wrapper{
    justify-content:space-between;
    margin-block: 1rem;
}
.table-wrapper{
    justify-content: center;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
/* Image */
.productAdmin {
    width: 5rem;
    border: 5px solid;
    border-image: 
    repeating-linear-gradient(30deg, var(--alternative), var(--awesome), var(--0) 20px) 60;
}
footer {
    z-index: 10;
    padding-block: 1rem;
}
@keyframes sliding {
    from{
        transform: translateX(0);
        width: 100%;
    }
    to {
        transform: translateX(-70%);
    }
}
@media screen and (width < 900px) {
    main, ul {
        padding-inline: 1rem;
    }
    ul {
        flex-wrap: wrap;
    }
    #features {
        display: none;
    }
    .slider {
        width: 100%;
    }
    .team{
        flex-flow: column wrap;
    }
    .team img {
        width: 100%;
    }
    footer {
        position: fixed;
        width: 100%;
        bottom: 0;
    }
    /*  */
    .search-wrapper {
        justify-content: center;
    }
}